<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="lang == 'CS' || lang == null">
      Předpověď - detaily
    </ion-title>
    <ion-title *ngIf="lang == 'EN'">
      Forecast - details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card expand="full">
    <ion-card-header>
      <ion-card-title>
        <ion-datetime displayFormat="D/M, YYYY" [(ngModel)]="date1String" readonly="true"></ion-datetime>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="lang == 'CS' || lang == null">
        Počasí: <ion-img [src]="ikona" style="height: 60px; width: 60px;" alt='offline'></ion-img>
      </ion-card-title>
      <ion-card-title *ngIf="lang == 'EN'">
        Weather: <ion-img [src]="ikona" style="height: 60px; width: 60px;" alt='offline'></ion-img>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card expand="full">
    <ion-card-header>
      <ion-card-title>
        <div *ngIf="lang == 'CS' || lang == null">
          Teplota - Ráno: {{ teplota1 }}&deg;C
        </div>
        <div *ngIf="lang == 'EN'">
          Temperature - Morning: {{ teplota1 }}&deg;C
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card expand="full">
    <ion-card-header>
      <ion-card-title>
        <div *ngIf="lang == 'CS' || lang == null">
          Teplota - Den: {{ teplota2 }}&deg;C
        </div>
        <div *ngIf="lang == 'EN'">
          Temperature - Day: {{ teplota2 }}&deg;C
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card expand="full">
    <ion-card-header>
      <ion-card-title>
        <div *ngIf="lang == 'CS' || lang == null">
          Teplota - Večer: {{ teplota3 }}&deg;C
        </div>
        <div *ngIf="lang == 'EN'">
          Temperature - Evening: {{ teplota3 }}&deg;C
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card expand="full">
    <ion-card-header>
      <ion-card-title>
        <div *ngIf="lang == 'CS' || lang == null">
          Teplota - Noc: {{ teplota4 }}&deg;C
        </div>
        <div *ngIf="lang == 'EN'">
          Temperature - Night: {{ teplota4 }}&deg;C
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card expand="full">
    <ion-card-header>
      <ion-card-title>
        <div *ngIf="lang == 'CS' || lang == null">
          Rychlost větru: {{ vitr }} KM/H
        </div>
        <div *ngIf="lang == 'EN'">
          Windspeed: {{ vitr }} KM/H
        </div>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>