<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="lang == 'CS' || lang == null">
      Předpověď
    </ion-title>
    <ion-title *ngIf="lang == 'EN'">
      Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" routerLink="/tabs/tab2/42" routerDirection="forward">Otevři detaily</ion-button>
  <ion-card expand="full" routerLink="/tabs/tab2/42" routerDirection="forward">Otevři detaily</ion-card>
</ion-content>
