<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="lang == 'CS' || lang == null">
      Počasí
    </ion-title>
    <ion-title *ngIf="lang == 'EN'">
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-datetime displayFormat="D/M, YYYY | hh:mm" [(ngModel)]="myDate" readonly="true"></ion-datetime>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>
        <ion-input [(ngModel)]="mesto"></ion-input>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="lang == 'CS' || lang == null">
        Počasí: <ion-img [src]="ikona" style="height: 60px; width: 60px;" alt='offline'></ion-img>
      </ion-card-title>
      <ion-card-title *ngIf="lang == 'EN'">
        Weather: <ion-img [src]="ikona" style="height: 60px; width: 60px;" alt='offline'></ion-img>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="lang == 'CS' || lang == null">
        Teplota: {{ teplota }}&deg;C
      </ion-card-title>
      <ion-card-title *ngIf="lang == 'EN'">
        Temperature: {{ teplota }}&deg;C
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="lang == 'CS' || lang == null">
        Rychlost větru: {{ teplota }} KM/H
      </ion-card-title>
      <ion-card-title *ngIf="lang == 'EN'">
        Wind speed: {{ teplota }} KM/H
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="RefreshPage()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
