<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Počasí
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-datetime displayFormat="DDDD MMM D, YYYY | hh:mm" [(ngModel)]="myDate" readonly="true"></ion-datetime>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ teplota }}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="RefreshPage()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
